@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */


.hello{
    font-size: 160px;
}
.profileImage{
    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 50%;
    box-shadow: 0 10px 4px 0 rgba(7, 228, 240);
}
.home{
    margin-top: 20px;
}
.Content{
    width: 60%;
    height: 200px;
    margin: 20px auto;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500 !important;
    font-family: 'Ubuntu', sans-serif;
    /* border-bottom:  1px solid rgba(237, 5, 24); */
}
.Name{
    font-weight: 900 !important;
}
.ContentAbout{
    width: 70%;
    margin: 20px auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.ContentAbout a {
    text-decoration: none !important;
    cursor: pointer;
    color: rgba(7, 228, 240);
}
.Headers{
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    font-weight: 700 !important;
}
.Bucket{
    font-size: 64px;
    color: black;
}
.Projects{
    font-family: 'Ubuntu', sans-serif;
    margin-top: 150px;
}
.loader{
    height: 100vh;
    background-color: black;
    align-items: center !important;
    text-align: center;
    }
    .loaderComponent{
        vertical-align: middle;
        margin: 20% auto !important;
    }

@media only screen and (max-width: 600px) {
    .ContentAbout{
        width: 100%;
        margin:0 auto;
    }
    .Content{
        width: 100%;
        margin-bottom: 200px;
    }
    .loaderComponent{
        vertical-align: middle;
        margin: 60% auto !important;
    }
    .ContentAbout p {
        font-size: 12px;
    }
    .Headers{
        font-size: 14px;
    }
    .profileImage{
        width: 200px;
        height: 200px;
        margin:10px;
    }
}
