@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Noto+Serif:wght@500&family=Space+Grotesk&display=swap');
/* font-family: 'DM Serif Display', serif;
font-family: 'Noto Serif', serif;
font-family: 'Space Grotesk', sans-serif; */

.hello{
    font-size: 160px;
}
.profileImage{
    height: 250px;
    width: 250px;
    margin: 25px;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(7, 228, 240);
}
.home{
    margin-top: 20px;
}
.Content{
    width: 60%;
    height: 200px;
    margin: 20px auto;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500 !important;
    font-family: 'Space Grotesk', sans-serif;
}
.Name{
    font-weight: 900 !important;
}
.ContentAbout{
    width: 80%;
    margin: 0px auto;
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
}
.ContentAbout a {
    text-decoration: none !important;
    cursor: pointer;
    color: rgba(7, 228, 240);
    font-family: 'Space Grotesk', sans-serif;
}
.Headers{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 24px;
    font-weight: 700 !important;
}
.Bucket{
    font-size: 64px;
    color: black;
}
.Projects{
    font-family: 'Space Grotesk', sans-serif;
    margin-top: 150px;
}
.loader{
    height: 100vh;
    background-color: black;
    align-items: center !important;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 600px) {
    .ContentAbout{
        width: 100%;
        margin:0 auto;
    }
    .Content{
        width: 100%;
        margin-bottom: 200px;
    }
    .Content p{
        font-size: 12px;

    }
    .loaderComponent{
        vertical-align: middle;
    }
    .ContentAbout p {
        font-size: 12px;
        margin: 5px;
    }
    .Headers{
        font-size: 14px;
    }
    .profileImage{
        width: 200px;
        height: 200px;
        margin: 5px;

    }
}
