@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/* font-family: 'Ubuntu', sans-serif; */


.hello{
    font-size: 160px;
}
.profileImage{
    height: 300px;
    width: 300px;
    margin: 25px;
    border-radius: 50%;
    box-shadow: 0 10px 4px 0 rgba(7, 228, 240);
}
.home{
    margin-top: 20px;
}
.Content{
    width: 60%;
    height: 200px;
    margin: 20px auto;
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500 !important;
    font-family: 'Ubuntu', sans-serif;
    /* border-bottom:  1px solid rgba(237, 5, 24); */
}
.Name{
    font-weight: 900 !important;
}
.ContentAbout{
    width: 70%;
    margin: 20px auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.ContentAboutTwo{
    width: 100%;
    margin: 20px auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
